[submodule "data_structures/fifo_queues/moodycamel_cpp/cpp_src/concurrentqueue"]
	path = data_structures/fifo_queues/moodycamel_cpp/cpp_src/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
