[submodule "src/cpp_queues/moodycamel/concurrentqueue"]
	path = src/cpp_queues/moodycamel/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "src/cpp_queues/faaaqueue/ConcurrencyFreaks"]
	path = src/cpp_queues/faaaqueue/ConcurrencyFreaks
	url = https://github.com/pramalhe/ConcurrencyFreaks
