##########
# General
##########

#############
# Windows
#############
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
############################################################

#############
# Linux
#############
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
############################################################

#############
# macOS
#############
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
############################################################

/target
/output
/scripts/output
Cargo.lock
/venv
src/cpp-ring-queues-research/benchmarks.sh
src/cpp-ring-queues-research/postprocess/*
src/cpp-ring-queues-research/third-party/*
src/cpp-ring-queues-research/deduce_nproc.py
src/cpp-ring-queues-research/include/CCQueue.hpp
src/cpp-ring-queues-research/include/BenchmarkQ.hpp
src/cpp-ring-queues-research/include/FakeLCRQueue.hpp
src/cpp-ring-queues-research/include/LSCQueue.hpp
src/cpp-ring-queues-research/include/MichaelScottQueue.hpp
src/cpp-ring-queues-research/include/FAAArrayQueue.hpp
src/cpp-ring-queues-research/run.sh
src/cpp-ring-queues-research/src/*
src/cpp-ring-queues-research/ring-size-benchmarks.sh
src/cpp-ring-queues-research/include/LCRQueue.hpp
src/cpp-ring-queues-research/include/AdditionalWork.hpp
*.mtx
*.svg
*.png
*.data
*.old
*.edges
*.pdf
misc/*
*.pdf
