name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Boost
      run: sudo apt-get install -y libboost-all-dev
    - name: Get submodules
      run: git submodule init && git submodule update
    - name: Build
      run: cargo build --verbose --workspace --exclude bbq
    - name: Run tests
      run: cargo test --verbose --workspace --exclude bbq
    - name: Run nightly queues
      run: cargo +nightly test --verbose -p bbq
